[submodule "software/qmk/firmware"]
	path = software/qmk/firmware
	url = https://github.com/qmk/qmk_firmware.git
[submodule "hardware/kerigokbd_v1/pcb/kbd"]
	path = hardware/kerigokbd_v1/pcb/kbd
	url = https://github.com/kerikun11/kicad-kbd.git
