[submodule "external/qmk_firmware"]
	path = external/qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
[submodule "external/vial-qmk"]
	path = external/vial-qmk
	url = https://github.com/vial-kb/vial-qmk.git
[submodule "hardware/kerigokbd_v1/pcb/kicad-kbd"]
	path = hardware/kerigokbd_v1/pcb/kicad-kbd
	url = https://github.com/kerikun11/kicad-kbd.git
